PREPARACION DE LA DATA PARA UTILIZAR LAS FUNCIONES

In [19]:
#Importamos las librerias a utilizar

import pandas as pd
from datetime import datetime 
import calendar
import locale

In [20]:
#Cargamos el dataset

fun = pd.read_csv('Datasets/data_desanidada.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\2398465269.py:3: DtypeWarning: Columns (31,33,60,62,64,66,68,70,72,74,76,78,80,82,84,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161) have mixed types. Specify dtype option on import or set low_memory=False.
  fun = pd.read_csv('Datasets\data_desanidada.csv')

In [28]:
fun

,budget,id,release_date,revenue,title,release_year,return,collection_name,pc_name_0,pc_name_1,...,pco_name_18,pco_name_19,pco_name_20,pco_name_21,pco_name_22,pco_name_23,pco_name_24,dia,mes,anio
0,30000000.0,862,1995-10-30 00:00:00,373554033.0,Toy Story,1995,12.451801,Toy Story Collection,Pixar Animation Studios,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lunes,octubre,1995
1,65000000.0,8844,1995-12-15 00:00:00,262797249.0,Jumanji,1995,4.043035,NaN,TriStar Pictures,Teitler Film,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viernes,diciembre,1995
2,0.0,15602,1995-12-22 00:00:00,0.0,Grumpier Old Men,1995,0.000000,Grumpy Old Men Collection,Warner Bros.,Lancaster Gate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viernes,diciembre,1995
3,16000000.0,31357,1995-12-22 00:00:00,81452156.0,Waiting to Exhale,1995,5.090760,NaN,Twentieth Century Fox Film Corporation,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viernes,diciembre,1995
4,0.0,11862,1995-02-10 00:00:00,76578911.0,Father of the Bride Part II,1995,0.000000,Father of the Bride Collection,Sandollar Productions,Touchstone Pictures,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viernes,febrero,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45371,0.0,30840,1991-05-13 00:00:00,0.0,Robin Hood,1991,0.000000,NaN,Westdeutscher Rundfunk (WDR),Working Title Films,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lunes,mayo,1991
45372,0.0,111109,2011-11-17 00:00:00,0.0,Century of Birthing,2011,0.000000,NaN,Sine Olivia,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,jueves,noviembre,2011
45373,0.0,67758,2003-08-01 00:00:00,0.0,Betrayal,2003,0.000000,NaN,American World Pictures,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viernes,agosto,2003
45374,0.0,227506,1917-10-21 00:00:00,0.0,Satan Triumphant,1917,0.000000,NaN,Yermoliev,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,domingo,octubre,1917
45375,0.0,461257,2017-06-09 00:00:00,0.0,Queerama,2017,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viernes,junio,2017

In [22]:
#Colocamos en una variable las columnas que necesitamos para implementar las funciones y luego hacemos nuestro dataset igual a esas columnas nada mas

columnas_deseadas = ['budget', 'id', 'release_date', 'revenue', 'title', 'release_year',
       'return', 'collection_name', 'pc_name_0', 'pc_name_1', 'pc_name_2',
       'pc_name_3', 'pc_name_4', 'pc_name_5', 'pc_name_6', 'pc_name_7',
       'pc_name_8', 'pc_name_9', 'pc_name_10', 'pc_name_11', 'pc_name_12',
       'pc_name_13', 'pc_name_14', 'pc_name_15', 'pc_name_16', 'pc_name_17',
       'pc_name_18', 'pc_name_19', 'pc_name_20', 'pc_name_21', 'pc_name_22',
       'pc_name_23', 'pc_name_24', 'pc_name_25', 'pco_name_0', 'pco_name_1',
       'pco_name_2', 'pco_name_3', 'pco_name_4', 'pco_name_5', 'pco_name_6',
       'pco_name_7', 'pco_name_8', 'pco_name_9', 'pco_name_10', 'pco_name_11',
       'pco_name_12', 'pco_name_13', 'pco_name_14', 'pco_name_15',
       'pco_name_16', 'pco_name_17', 'pco_name_18', 'pco_name_19',
       'pco_name_20', 'pco_name_21', 'pco_name_22', 'pco_name_23',
       'pco_name_24']
fun = fun[columnas_deseadas]

In [23]:
#Establecemos la configuración regional (locale) del sistema para el formato de fecha y hora en español

locale.setlocale(locale.LC_TIME, 'es_ES')

'es_ES'

In [24]:
#Convertimos la columna 'release_date' a un objeto de fecha y hora

#fun['release_date'] = pd.to_datetime(fun['release_date'], format='%Y-%m-%d')
fun.loc[:, "release_date"] = pd.to_datetime(fun["release_date"], errors="coerce")
#Creamos una nueva columna dia con el nombre del dia de la semana en se se estreño cada pelicula

fun['dia'] = pd.to_datetime(fun["release_date"], errors="coerce").dt.strftime('%A')

#Creamos una nueva columna 'release_month' con el nombre del mes

fun['mes'] = pd.to_datetime(fun["release_date"], errors="coerce").dt.strftime('%B')

#Creamos una nueva columna 'release_day' con el nombre del día de la semana
fun['anio'] = pd.to_datetime(fun["release_date"], errors="coerce").dt.year

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\1126885655.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fun['dia'] = pd.to_datetime(fun["release_date"], errors="coerce").dt.strftime('%A')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\1126885655.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fun['mes'] = pd.to_datetime(fun["release_date"], errors="coerce").dt.strftime('%B')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\1126885655.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fun['anio'] = pd.to_datetime(fun["release_date"], errors="coerce").dt.year

In [25]:
#Revisamos cuantas filas duplicadas hay en el dataset
fun.duplicated().sum()

30

In [26]:
#Eliminas las filas duplicadas
fun.drop_duplicates(inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\1436336943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fun.drop_duplicates(inplace=True)

In [27]:
#Exportamos como csv para posterior uso en las funciones comentadas
fun.to_csv('Datasets/data_funciones.csv', index=False)