PREPARACION DE LA DATA PARA UTILIZAR LAS FUNCIONES

In [3]:
#Importamos las librerias a utilizar

import pandas as pd
from datetime import datetime 
import calendar
import locale

In [12]:
#Cargamos el dataset

fun = pd.read_csv('data_desanidada.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19156\1608949228.py:2: DtypeWarning: Columns (31,33,60,62,64,66,68,70,72,74,76,78,80,82,84,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161) have mixed types. Specify dtype option on import or set low_memory=False.
  fun = pd.read_csv('data_desanidada.csv')

In [13]:
fun.head(3)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,8_language_code,8_language,9_language_code,9_language,10_language_code,10_language,11_language_code,11_language,12_language_code,12_language
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Colocamos en una variable las columnas que necesitamos para implementar las funciones y luego hacemos nuestro dataset igual a esas columnas nada mas

columnas_deseadas = ['budget', 'id', 'release_date', 'revenue', 'title', 'release_year',
       'return', 'collection_name', 'pc_name_0', 'pc_name_1', 'pc_name_2',
       'pc_name_3', 'pc_name_4', 'pc_name_5', 'pc_name_6', 'pc_name_7',
       'pc_name_8', 'pc_name_9', 'pc_name_10', 'pc_name_11', 'pc_name_12',
       'pc_name_13', 'pc_name_14', 'pc_name_15', 'pc_name_16', 'pc_name_17',
       'pc_name_18', 'pc_name_19', 'pc_name_20', 'pc_name_21', 'pc_name_22',
       'pc_name_23', 'pc_name_24', 'pc_name_25', 'pco_name_0', 'pco_name_1',
       'pco_name_2', 'pco_name_3', 'pco_name_4', 'pco_name_5', 'pco_name_6',
       'pco_name_7', 'pco_name_8', 'pco_name_9', 'pco_name_10', 'pco_name_11',
       'pco_name_12', 'pco_name_13', 'pco_name_14', 'pco_name_15',
       'pco_name_16', 'pco_name_17', 'pco_name_18', 'pco_name_19',
       'pco_name_20', 'pco_name_21', 'pco_name_22', 'pco_name_23',
       'pco_name_24']
fun = fun[columnas_deseadas]

In [6]:
#Establecemos la configuración regional (locale) del sistema para el formato de fecha y hora en español

locale.setlocale(locale.LC_TIME, 'es_ES')

'es_ES'

In [7]:
#Convertimos la columna 'release_date' a un objeto de fecha y hora

fun['release_date'] = pd.to_datetime(fun['release_date'], format='%Y-%m-%d')

#Creamos una nueva columna dia con el nombre del dia de la semana en se se estreño cada pelicula

fun['dia'] = fun['release_date'].dt.strftime('%A')

#Creamos una nueva columna 'release_month' con el nombre del mes

fun['mes'] = fun['release_date'].dt.strftime('%B')

#Creamos una nueva columna 'release_day' con el nombre del día de la semana
fun['anio'] = fun['release_date'].dt.year

In [8]:
#Revisamos cuantas filas duplicadas hay en el dataset
fun.duplicated().sum()

30

In [9]:
#Eliminas las filas duplicadas
fun.drop_duplicates(inplace=True)

In [11]:
#Exportamos como csv para posterior uso en las funciones comentadas
fun.to_csv('data_funciones.csv', index=False)