CREACION DE FUNCIONES

In [1]:
#Importamos las librerias a utilizar

import pandas as pd

In [2]:
#Cargamos el dataset

data = pd.read_csv('data_funciones.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_3324\2556991724.py:2: DtypeWarning: Columns (46,47,48,49,50,51,52,53,54,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data_funciones.csv')

In [3]:
#Visualizamos el inicio del dataset

data.head(2)

,budget,id,release_date,revenue,title,release_year,return,collection_name,pc_name_0,pc_name_1,...,pco_name_18,pco_name_19,pco_name_20,pco_name_21,pco_name_22,pco_name_23,pco_name_24,dia,mes,anio
0,30000000.0,862,1995-10-30,373554033.0,Toy Story,1995,12.451801,Toy Story Collection,Pixar Animation Studios,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lunes,octubre,1995
1,65000000.0,8844,1995-12-15,262797249.0,Jumanji,1995,4.043035,NaN,TriStar Pictures,Teitler Film,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viernes,diciembre,1995

In [4]:
#Definimos la primera funcion: "def peliculas_mes(mes): '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes (nombre del mes, en str, ejemplo 'enero') historicamente''' return {'mes':mes, 'cantidad':respuesta}"

def peliculas_mes(mes):
    
    #Nos quedamos solo con un dataframe con las peliculas de ese mes

    df_mes = data[data['mes'].str.lower() == mes.lower()]
    
    #Obtenemos la cantidad de películas estrenadas ese mes

    cantidad_peliculas = len(df_mes)
    
    #Devolvemos un diccionario con el nombre del mes y la cantidad de películas estrenadas ese mes

    return {'Mes': mes.capitalize(), 'Cantidad': cantidad_peliculas}

In [5]:
peliculas_mes("diciembre")

{'Mes': 'Diciembre', 'Cantidad': 3781}

In [6]:
#Definimos la segunda funcion: "def peliculas_dia(dia): '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrenaron ese dia (de la semana, en str, ejemplo 'lunes') historicamente''' return {'dia':dia, 'cantidad':respuesta}"

def peliculas_dia(dia):
    
    #Nos quedamos solo con un dataframe con las peliculas de ese dia

    df_dia = data[data['dia'].str.lower() == dia.lower()]
    
    #Obtenemos la cantidad de películas estrenadas ese dia

    cantidad_peliculas = len(df_dia)
    
    #Devolvemos un diccionario con el nombre del dia y la cantidad de películas estrenadas ese dia
    
    return {'Dia': dia.capitalize(), 'Cantidad': cantidad_peliculas}

In [7]:
peliculas_dia("lunes")

{'Dia': 'Lunes', 'Cantidad': 3500}

In [8]:
#Definimos la tercera funcion: "def franquicia(franquicia): '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio''' return {'franquicia':franquicia, 'cantidad':respuesta, 'ganancia_total':respuesta, 'ganancia_promedio':respuesta}"

def franquicia(franquicia):
       
    #Nos quedamos solo con un dataframe con las peliculas de esa colección proporcionada

    df_franquicia = data[data['collection_name'] == franquicia]

    #Obtenemos la cantidad de películas estrenadas ese dia

    cantidad_peliculas = len(df_franquicia)
    
    #Calculamos el promedio y el total de la ganancia para las películas de la colección

    ganancia_promedio = df_franquicia['revenue'].mean()
    ganancia_total = df_franquicia['revenue'].sum()
    
    #Devolvemos un diccionario con la información

    return {
            'Franquicia': franquicia,
            'Cantidad':cantidad_peliculas,
            'Ganancia_total': ganancia_total,
            'Ganancia_promedio': ganancia_promedio
    }

In [9]:
franquicia("Zatôichi: The Blind Swordsman")

{'Franquicia': 'Zatôichi: The Blind Swordsman',
 'Cantidad': 26,
 'Ganancia_total': 0.0,
 'Ganancia_promedio': 0.0}

In [10]:
#Definimos la cuarta funcion: "def peliculas_pais(pais): '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo''' return {'pais':pais, 'cantidad':respuesta}"

def peliculas_pais(pais):

    #Nos quedamos solo con un dataframe con las peliculas de ese pais proporcionado, hay varias columnas con los diferentes paises de produccion de la pelicula por eso se usa un for y luegp el eq para comprobar que el pais proporcionado este en esa fila
    
    columnas_pais = [f'pco_name_{i}' for i in range(25)]
    df_pais = data[data[columnas_pais].eq(pais).any(axis=1)]    
    
    #Obtenemos la cantidad de películas producidas en el país

    cantidad = df_pais.shape[0]
    
    #Devolvemos un diccionario con la información

    return {
        'Pais': pais,
        'Cantidad': cantidad
    }

In [17]:
peliculas_pais("United Kingdom")

{'Pais': 'United Kingdom', 'Cantidad': 4088}

In [12]:
#Definimos la quinta funcion: "def productoras(productora): '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron''' return {'productora':productora, 'ganancia_total':respuesta, 'cantidad':respuesta}"

def productoras(productora):

    #Nos quedamos solo con un dataframe con las peliculas de esa productora proporcionada

    columnas_productoras = [f'pc_name_{i}' for i in range(26)]
    df_pc = data[data[columnas_productoras].eq(productora).any(axis=1)]

    #Calculamos la ganancia total de las películas de la productora

    ganancia_total = df_pc['revenue'].sum()

    #Contamos la cantidad de películas asociadas a la productora

    cantidad = df_pc.shape[0]

    #Devolvemos un diccionario con la información

    return {
        'Productora': productora,
        'Ganancia_total': ganancia_total,
        'Cantidad': cantidad
    }

In [13]:
productoras("Paramount Pictures")

{'Productora': 'Paramount Pictures',
 'Ganancia_total': 48428572442.0,
 'Cantidad': 998}

In [14]:
#Para la ultima funcion convertimos los datos de las columnas a utilizar a numericos para evitar errores

data['budget'] = pd.to_numeric(data['budget'], errors='coerce')
data['revenue'] = pd.to_numeric(data['revenue'], errors='coerce')
data['return'] = pd.to_numeric(data['return'], errors='coerce')
data['release_year'] = pd.to_numeric(data['release_year'], errors='coerce')

In [15]:
#Definimos la sexta funcion: "def retorno(pelicula): '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo''' return {'pelicula':pelicula, 'inversion':respuesta, 'ganacia':respuesta,'retorno':respuesta, 'anio':respuesta}"

def retorno(pelicula):
    #Eliminamos filas duplicadas basadas en la columna 'title'

    data_unica = data.drop_duplicates(subset='title')

    #Nos quedamos solo con un dataframe con los datos de esa película proporcionada

    data_pelicula = data_unica[data_unica['title'] == pelicula]

    #Verificamos si se encontró la película
    if len(data_pelicula) == 0:
        return {'error': 'Película no encontrada'}

    #Obtenemos los valores de las columnas de interés
    
    inversion = data_pelicula['budget'].iloc[0].item()
    ganancia = data_pelicula['revenue'].iloc[0].item()
    retorno = data_pelicula['return'].iloc[0].item()
    anio = data_pelicula['release_year'].iloc[0].item()

    #Devolvemos un diccionario con la información
    
    informacion_pelicula = {
        'Pelicula': pelicula,
        'Inversion': inversion,
        'Ganancia': ganancia,
        'Retorno': retorno,
        'Anio': anio
    }
    return informacion_pelicula

In [16]:
retorno("Alice in Wonderland")

{'Pelicula': 'Alice in Wonderland',
 'Inversion': 3000000.0,
 'Ganancia': 572000000.0,
 'Retorno': 190.66666666666663,
 'Anio': 1951}